/* line 3, ../sass/typography.scss */
.section-header {
  border-top: 1px solid #afaeaf;
  border-bottom: 1px solid #afaeaf;
  color: #666666;
  display: inline-block;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.85em;
  margin: 0 40px 40px 40px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 17, ../sass/typography.scss */
.section-header.black {
  color: black;
}
/* line 21, ../sass/typography.scss */
.section-header.full-width {
  display: block;
  padding: 15px 0;
}
/* line 26, ../sass/typography.scss */
.section-header small {
  display: block;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.3em;
  text-transform: none;
  margin-top: 10px;
  color: #000;
}

/* line 37, ../sass/typography.scss */
.btn {
  border-radius: 0;
  border: 1px solid #fff;
  outline: 1px solid #f00;
}
/* line 42, ../sass/typography.scss */
.btn.btn-default {
  border: 1px solid #fff;
  outline: 1px solid #414141;
}

/* line 48, ../sass/typography.scss */
#social {
  float: right;
  line-height: 30px;
  padding-top: 15px;
}
/* line 53, ../sass/typography.scss */
#social > h2 {
  color: #999999;
  float: left;
  font-size: .8em;
  letter-spacing: normal;
  margin: 3px 10px 0 0;
  text-transform: uppercase;
}
/* line 62, ../sass/typography.scss */
#social > a {
  border: 1px solid #878787;
  display: block;
  float: left;
  height: 21px;
  margin: 0 5px;
  width: 20px;
  position: relative;
}
/* line 71, ../sass/typography.scss */
#social > a img {
  width: 100%;
  display: block;
  position: absolute;
  margin: 0;
}
/* line 77, ../sass/typography.scss */
#social > a img.hover-on {
  display: none;
}
/* line 81, ../sass/typography.scss */
#social > a img.hover-off {
  display: block;
}
/* line 88, ../sass/typography.scss */
#social > a:hover img.hover-on {
  display: block;
}
/* line 92, ../sass/typography.scss */
#social > a:hover img.hover-off {
  display: none;
}

/* line 100, ../sass/typography.scss */
h1, h2, h3, h4 {
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* line 3, ../sass/global.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #e5e2e4;
  color: #666666;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* line 15, ../sass/global.scss */
a {
  color: #666666;
}
/* line 18, ../sass/global.scss */
a:hover {
  color: #000;
  text-decoration: none;
}

/* line 24, ../sass/global.scss */
header#main-header {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
/* line 29, ../sass/global.scss */
header#main-header:after {
  content: ' ';
  display: block;
  background: url(//cdn.shopify.com/s/files/1/0639/4977/t/1/assets/paper-edge.png) repeat-x;
  height: 8px;
  position: relative;
  top: 0;
  width: 100%;
}
/* line 40, ../sass/global.scss */
header#main-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 45, ../sass/global.scss */
header#main-header nav ul li {
  float: left;
}
/* line 48, ../sass/global.scss */
header#main-header nav ul li a {
  bottom: -10px;
  display: block;
  font-weight: 700;
  font-size: 0.8em;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  line-height: 1.3em;
  margin: 0 15px 15px 15px;
  padding: 85px 0 0 0;
  position: relative;
  text-transform: uppercase;
}
/* line 61, ../sass/global.scss */
header#main-header nav ul li a:hover, header#main-header nav ul li a.active {
  border-bottom: 3px solid #000;
  margin: 0 15px 10px 15px;
  color: #000;
}
/* line 68, ../sass/global.scss */
header#main-header nav ul li#logo {
  margin-right: 15px;
}
/* line 71, ../sass/global.scss */
header#main-header nav ul li#logo a {
  border: 0;
  bottom: initial;
  height: 105px;
  margin: 11px 0 0 0;
  padding: 0;
  text-indent: -9999px;
  width: 81px;
}
/* line 83, ../sass/global.scss */
header#main-header nav ul li:nth-child(4) a {
  border-color: #999;
  color: #999;
}
/* line 90, ../sass/global.scss */
header#main-header nav ul li:nth-child(5) a {
  border-color: #999;
  color: #999;
}
/* line 99, ../sass/global.scss */
header#main-header #cart-info {
  padding-top: 85px;
  text-align: right;
}
/* line 103, ../sass/global.scss */
header#main-header #cart-info .login {
  border-bottom: 1px transparent;
  color: #999;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.05em;
  margin-right: 28px;
  position: relative;
  top: -3px;
}
/* line 113, ../sass/global.scss */
header#main-header #cart-info .login:hover {
  border-bottom: 1px solid #999;
}
/* line 118, ../sass/global.scss */
header#main-header #cart-info .toggle-cart {
  color: #666;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: -3px;
  width: 29px;
  background-position: 0 0;
}
/* line 131, ../sass/global.scss */
header#main-header #cart-info .toggle-cart:hover, header#main-header #cart-info .toggle-cart.active {
  background-position: -30px 0;
  color: #fff;
}

/* http://www.dennisplucinik.com/blog/2007/09/01/css-hack-text-indent-10000px/ */
/* line 140, ../sass/global.scss */
.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

/* line 149, ../sass/global.scss */
.shadow-header {
  text-shadow: 1px 1px 0px #e6e3e4, 2px 2px 0px #777, 1px 2px 0px #777,2px 1px 0px #777;
}
/* line 152, ../sass/global.scss */
.shadow-header small {
  text-shadow: none;
}

/* line 157, ../sass/global.scss */
.shadow-header-grey {
  border-color: #afaeaf;
  color: #666;
  text-shadow: 1px 1px 0px #e6e3e4, 2px 2px 0px #666, 1px 2px 0px #666,2px 1px 0px #666;
}
/* line 162, ../sass/global.scss */
.shadow-header-grey small {
  margin: 0 30px;
  margin-top: 3px;
  text-shadow: none;
}

/* line 169, ../sass/global.scss */
.shadow-header-inverted {
  text-shadow: 2px 2px 0px #333, 3px 3px 0px #9f9f9f;
}

/* line 173, ../sass/global.scss */
.sprite {
  background: no-repeat;
}
/* line 176, ../sass/global.scss */
.sprite.arrow-white-right {
  background-image: url(arrow-white.png);
  height: 22px;
  width: 15px;
}

/* line 183, ../sass/global.scss */
.text-center {
  text-align: center;
}

/* line 187, ../sass/global.scss */
#main-content {
  padding: 60px 0 0 0;
}

/* line 191, ../sass/global.scss */
footer#main-footer {
  padding-top: 60px;
  background-color: #fff;
  margin-top: 0;
  overflow: hidden;
}
/* line 197, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe {
  background-color: #e5e2e4;
  height: 45px;
  position: relative;
}
@media screen and (max-width: 960px) {
  /* line 197, ../sass/global.scss */
  footer#main-footer .mailchimp-subscribe {
    margin-bottom: 10px;
  }
}
/* line 206, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input {
  background-color: #EEE;
  border: 0;
  color: #999;
  display: block;
  font-size: 0.7em;
  font-style: italic;
  height: 45px;
  padding: 10px;
  position: absolute;
  width: 100%;
  -webkit-transition: all .2s;
}
/* line 219, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input::-webkit-input-placeholder {
  font-style: italic;
}
/* line 223, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:-moz-placeholder {
  font-style: italic;
}
/* line 227, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input::-moz-placeholder {
  font-style: italic;
}
/* line 231, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:-ms-input-placeholder {
  font-style: italic;
}
/* line 236, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus {
  color: #000;
}
/* line 239, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus::-webkit-input-placeholder {
  color: #000;
}
/* line 243, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus:-moz-placeholder {
  color: #000;
}
/* line 247, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus::-moz-placeholder {
  color: #000;
}
/* line 251, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe input:focus:-ms-input-placeholder {
  color: #000;
}
/* line 257, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe button {
  width: 45px;
  height: 45px;
  float: right;
  border: 0;
  position: relative;
  z-index: 1;
}
/* line 265, ../sass/global.scss */
footer#main-footer .mailchimp-subscribe button:after {
  background: url("arrow-white.png");
  content: '';
  display: block;
  float: right;
  height: 22px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 15px;
}
/* line 279, ../sass/global.scss */
footer#main-footer .social-follow-us {
  position: relative;
  float: right;
}
@media screen and (max-width: 960px) {
  /* line 279, ../sass/global.scss */
  footer#main-footer .social-follow-us {
    float: none;
    margin: 0 auto;
    width: 240px;
  }
}
/* line 290, ../sass/global.scss */
footer#main-footer .social-follow-us h2 {
  color: #999;
  display: block;
  float: left;
  font-size: .7em;
  font-weight: normal;
  height: 50px;
  letter-spacing: normal;
  line-height: 50px;
  margin: 0 10px 0 0;
  text-transform: uppercase;
}
/* line 309, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon {
  background-color: #eaeaea;
  display: block;
  float: left;
  margin: 0 10px 1px 0;
  text-align: center;
  position: relative;
  width: 45px;
  height: 45px;
}
/* line 319, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon:last-child {
  margin-right: 0;
}
/* line 329, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon img {
  position: absolute;
}
/* line 332, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon img.hover-on {
  display: none;
}
/* line 336, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon img.hover-off {
  display: block;
}
/* line 343, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon:hover img.hover-on {
  display: block;
}
/* line 347, ../sass/global.scss */
footer#main-footer .social-follow-us a.social-icon:hover img.hover-off {
  display: none;
}
/* line 355, ../sass/global.scss */
footer#main-footer nav {
  margin-bottom: 60px;
  margin-top: 60px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  /* line 355, ../sass/global.scss */
  footer#main-footer nav {
    margin-bottom: 60px;
    margin-top: 30px;
  }
}
/* line 365, ../sass/global.scss */
footer#main-footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 370, ../sass/global.scss */
footer#main-footer nav ul li {
  display: inline;
  float: left;
  padding: 0 10px;
  white-space: nowrap;
}
@media screen and (max-width: 1200px) {
  /* line 370, ../sass/global.scss */
  footer#main-footer nav ul li {
    width: 33%;
  }
  /* line 379, ../sass/global.scss */
  footer#main-footer nav ul li:nth-child(3n + 1) {
    clear: left;
    text-align: right;
  }
  /* line 384, ../sass/global.scss */
  footer#main-footer nav ul li:nth-child(3n + 2) {
    text-align: center;
  }
}
/* line 389, ../sass/global.scss */
footer#main-footer nav ul li a {
  color: #999;
  display: block;
  font-size: 0.72em;
  padding: 0 20px;
  text-transform: uppercase;
}
/* line 396, ../sass/global.scss */
footer#main-footer nav ul li a:hover {
  color: #000;
}
/* line 401, ../sass/global.scss */
footer#main-footer nav ul li span {
  color: #999;
  display: block;
  font-size: 0.72em;
  padding: 0 20px 0 0;
  text-transform: uppercase;
}
/* line 409, ../sass/global.scss */
footer#main-footer nav ul li:nth-child(1) {
  padding-left: 0;
}
/* line 412, ../sass/global.scss */
footer#main-footer nav ul li:nth-child(1) a {
  padding-left: 0;
}
/* line 417, ../sass/global.scss */
footer#main-footer nav ul li:last-child {
  padding-right: 0;
}
/* line 420, ../sass/global.scss */
footer#main-footer nav ul li:last-child a {
  padding-right: 0;
}

/* line 429, ../sass/global.scss */
#main-wrapper {
  left: 0;
  position: relative;
  width: 100%;
}

/* line 435, ../sass/global.scss */
#cart-flyout {
  background-color: #eaeaeb;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1) inset;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  right: -340px;
  top: 0;
  width: 340px;
}
/* line 446, ../sass/global.scss */
#cart-flyout .cart-top-btn {
  background-color: #505050;
  box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: block;
  float: left;
  height: 128px;
  line-height: 128px;
  position: relative;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  font-size: 13pt;
  white-space: nowrap;
}
/* line 461, ../sass/global.scss */
#cart-flyout .cart-top-btn:hover {
  background-color: #000;
}
/* line 465, ../sass/global.scss */
#cart-flyout .cart-top-btn:before {
  content: '';
  display: block;
  background: url("arrow-white-small.png");
  float: left;
  height: 11px;
  left: 10px;
  position: relative;
  top: 59px;
  width: 7px;
}
/* line 477, ../sass/global.scss */
#cart-flyout .cart-top-btn#checkout {
  background-color: #fb0005;
}
/* line 480, ../sass/global.scss */
#cart-flyout .cart-top-btn#checkout.inactive {
  background-color: #cccccc;
}
/* line 483, ../sass/global.scss */
#cart-flyout .cart-top-btn#checkout.inactive:hover {
  background-color: #cccccc;
}
/* line 488, ../sass/global.scss */
#cart-flyout .cart-top-btn#checkout:after {
  content: '';
  display: block;
  background: url("arrow-white-small.png");
  float: right;
  height: 11px;
  right: 33px;
  position: relative;
  top: 59px;
  width: 7px;
  -webkit-transform: rotate(180deg);
}
/* line 501, ../sass/global.scss */
#cart-flyout .cart-top-btn#checkout:before {
  display: none;
}
/* line 505, ../sass/global.scss */
#cart-flyout .cart-top-btn#checkout:hover {
  background-color: #e50000;
}
/* line 511, ../sass/global.scss */
#cart-flyout .empty-cart {
  text-align: center;
}
/* line 515, ../sass/global.scss */
#cart-flyout .subtotal {
  background-color: #eaeaeb;
  box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
  clear: both;
  padding: 20px;
  width: 100%;
}
/* line 522, ../sass/global.scss */
#cart-flyout .subtotal h2 {
  font-size: 1.2em;
}
/* line 525, ../sass/global.scss */
#cart-flyout .subtotal h2 .subtotal-price {
  float: right;
}
/* line 529, ../sass/global.scss */
#cart-flyout .subtotal h2 small {
  clear: both;
  display: block;
  font-size: 0.6em;
}
/* line 537, ../sass/global.scss */
#cart-flyout .number-of-items {
  clear: both;
  background-color: #d6d6d6;
  box-shadow: inset 6px 0 22px -10px rgba(0, 0, 0, 0.5);
  padding: 3px 0;
  text-align: center;
}
/* line 546, ../sass/global.scss */
#cart-flyout .cart-items .cart-item {
  background-color: #fff;
  border-bottom: 1px solid #eaeaeb;
  box-shadow: inset 6px 0 22px -15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-size: 0.9em;
  color: #6c6c6c;
}
/* line 554, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .image {
  width: 35%;
  float: left;
  padding: 40px 0 40px 20px;
}
/* line 559, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .image img {
  width: 100%;
}
/* line 564, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info {
  float: right;
  width: 65%;
  padding: 40px 20px 40px 30px;
}
/* line 569, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .remove-item {
  float: right;
  width: 16px;
  height: 16px;
}
/* line 574, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .remove-item .remove-cart-item-icon {
  width: 16px;
  height: 16px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 580, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .remove-item .remove-cart-item-icon:hover {
  background-position: -16px 0;
}
/* line 586, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info h3 {
  font-size: 1em;
  margin: 10px 0 5px;
  font-weight: 300;
}
/* line 592, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .qty {
  margin: 0 0 5px;
  font-weight: 300;
  font-size: 0.9em;
}
/* line 598, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .qty input {
  width: 40px;
  text-align: center;
  margin-left: 10px;
}
/* line 604, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .qty .update-cart {
  font-size: 0.75em;
  text-decoration: underline;
  font-style: italic;
  text-transform: lowercase;
  margin-left: 10px;
}
/* line 613, ../sass/global.scss */
#cart-flyout .cart-items .cart-item .info .price {
  margin-bottom: 10px;
}
/* line 620, ../sass/global.scss */
#cart-flyout .gift-note {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  font-size: 12pt;
  text-align: center;
}
/* line 627, ../sass/global.scss */
#cart-flyout .gift-note textarea {
  width: 300px;
  min-height: 125px;
  padding: 10px;
}

/**
 * Homepage Featured Product
 */
/* line 7, ../sass/index.scss */
.control {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 100;
  top: 50%;
  margin-top: -60px;
  width: 35px;
  height: 105px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: none;
  border-radius: 2px;
}
/* line 21, ../sass/index.scss */
.control.active {
  width: 135px;
}
/* line 25, ../sass/index.scss */
.control .poster-preview {
  text-align: center;
  width: 0px;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
/* line 32, ../sass/index.scss */
.control .poster-preview .image {
  width: 70px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}
/* line 38, ../sass/index.scss */
.control .poster-preview .image img {
  width: 100%;
}
/* line 44, ../sass/index.scss */
.control .artist {
  margin-top: -5px;
  font-size: 10pt;
  white-space: nowrap;
  text-transform: uppercase;
  overflow: hidden;
  width: 100px;
}
/* line 53, ../sass/index.scss */
.control .arrow {
  width: 35px;
  height: 105px;
}
/* line 58, ../sass/index.scss */
.control.left {
  right: auto;
  left: 0;
}
/* line 62, ../sass/index.scss */
.control.left .poster-preview {
  float: left;
}
/* line 66, ../sass/index.scss */
.control.left .arrow {
  background-position: -10px -10px;
  float: left;
}
/* line 71, ../sass/index.scss */
.control.left:hover {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 75, ../sass/index.scss */
.control.left:hover .poster-preview {
  opacity: 1;
  width: 100px;
}
/* line 80, ../sass/index.scss */
.control.left:hover .arrow {
  background-position: -10px -130px;
}
/* line 86, ../sass/index.scss */
.control.right {
  right: 0;
  left: auto;
}
/* line 90, ../sass/index.scss */
.control.right .poster-preview {
  float: left;
  position: absolute;
  right: 35px;
}
/* line 96, ../sass/index.scss */
.control.right .arrow {
  background-position: -60px -10px;
  float: right;
}
/* line 101, ../sass/index.scss */
.control.right:hover {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 105, ../sass/index.scss */
.control.right:hover .poster-preview {
  opacity: 1;
  width: 100px;
}
/* line 110, ../sass/index.scss */
.control.right:hover .arrow {
  background-position: -60px -130px;
}

/* line 118, ../sass/index.scss */
.previewImage_container {
  margin: 0 auto 80px auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 131, ../sass/index.scss */
.previewImage_container hr {
  background: white;
  border: 0;
  height: 1px;
  left: 10%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 80%;
  z-index: 1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* line 150, ../sass/index.scss */
.previewImage_container img {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 157, ../sass/index.scss */
.previewImage_container .action.button {
  background: #fc0d1b;
  bottom: 30%;
  border: 1px solid transparent;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  outline: 1px solid #f00;
  padding: 7px 10px;
  position: absolute;
  width: 200px;
  z-index: 2;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 181, ../sass/index.scss */
.previewImage_container .action.button:hover {
  border: 1px solid #fff;
}
/* line 186, ../sass/index.scss */
.previewImage_container .blackscreen {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  opacity: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 204, ../sass/index.scss */
.previewImage_container .copy {
  color: white;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  z-index: 2;
  -webkit-transition: all .5s;
}
/* line 213, ../sass/index.scss */
.previewImage_container .copy.availability {
  color: #CCC;
  font-size: .7em;
}
/* line 218, ../sass/index.scss */
.previewImage_container .copy.date {
  color: #CCC;
}
/* line 222, ../sass/index.scss */
.previewImage_container .copy.title {
  font-size: 2em;
  white-space: nowrap;
}
/* line 232, ../sass/index.scss */
.previewImage_container.anim1 .copy.availability {
  left: 10%;
  top: 50%;
}
/* line 237, ../sass/index.scss */
.previewImage_container.anim1 .copy.date {
  left: -100%;
  top: 35%;
}
/* line 242, ../sass/index.scss */
.previewImage_container.anim1 .copy.title {
  left: 100%;
  top: 43%;
}
/* line 248, ../sass/index.scss */
.previewImage_container.anim1:hover {
  cursor: pointer;
}
/* line 251, ../sass/index.scss */
.previewImage_container.anim1:hover hr {
  opacity: 1;
}
/* line 254, ../sass/index.scss */
.previewImage_container.anim1:hover hr.bottom {
  bottom: 28%;
}
/* line 258, ../sass/index.scss */
.previewImage_container.anim1:hover hr.top {
  top: 31%;
}
/* line 263, ../sass/index.scss */
.previewImage_container.anim1:hover .blackscreen {
  opacity: 1;
}
/* line 268, ../sass/index.scss */
.previewImage_container.anim1:hover .button.action {
  bottom: 34%;
  opacity: 1;
}
/* line 272, ../sass/index.scss */
.previewImage_container.anim1:hover .button.action:hover {
  background: #d9000d;
}
/* line 278, ../sass/index.scss */
.previewImage_container.anim1:hover .copy {
  opacity: 1;
}
/* line 281, ../sass/index.scss */
.previewImage_container.anim1:hover .copy.availability {
  top: 45.5%;
}
/* line 285, ../sass/index.scss */
.previewImage_container.anim1:hover .copy.date {
  left: 10%;
}
/* line 289, ../sass/index.scss */
.previewImage_container.anim1:hover .copy.title {
  left: 10%;
}
/* line 295, ../sass/index.scss */
.previewImage_container.anim1 hr {
  -webkit-transition: all .5s;
}
/* line 296, ../sass/index.scss */
.previewImage_container.anim1 hr.bottom {
  bottom: -10%;
}
/* line 300, ../sass/index.scss */
.previewImage_container.anim1 hr.top {
  top: -10%;
}
/* line 307, ../sass/index.scss */
.previewImage_container.anim1 .copy {
  -webkit-transition: all .5s;
}
/* line 308, ../sass/index.scss */
.previewImage_container.anim1 .copy.availability {
  left: 10%;
  top: 50%;
}
/* line 313, ../sass/index.scss */
.previewImage_container.anim1 .copy.date {
  color: #CCC;
  left: -100%;
  top: 35%;
}
/* line 319, ../sass/index.scss */
.previewImage_container.anim1 .copy.title {
  font-size: 2em;
  left: 100%;
  top: 40%;
}
/* line 331, ../sass/index.scss */
.previewImage_container.anim2 hr.bottom {
  bottom: 32%;
}
/* line 335, ../sass/index.scss */
.previewImage_container.anim2 hr.top {
  top: 28%;
}
/* line 341, ../sass/index.scss */
.previewImage_container.anim2 .button.action {
  bottom: 40%;
}
/* line 347, ../sass/index.scss */
.previewImage_container.anim2 .copy.availability {
  left: 10%;
}
/* line 351, ../sass/index.scss */
.previewImage_container.anim2 .copy.date {
  left: 10%;
}
/* line 355, ../sass/index.scss */
.previewImage_container.anim2 .copy.title {
  left: 10%;
}
/* line 360, ../sass/index.scss */
.previewImage_container.anim2:hover {
  cursor: pointer;
}
/* line 363, ../sass/index.scss */
.previewImage_container.anim2:hover hr {
  opacity: 1;
}
/* line 366, ../sass/index.scss */
.previewImage_container.anim2:hover hr.bottom {
  bottom: 35%;
}
/* line 370, ../sass/index.scss */
.previewImage_container.anim2:hover hr.top {
  top: 31%;
}
/* line 375, ../sass/index.scss */
.previewImage_container.anim2:hover .blackscreen {
  opacity: 1;
}
/* line 380, ../sass/index.scss */
.previewImage_container.anim2:hover .button.action {
  -webkit-animation-duration: .7s;
  -webkit-animation-delay: .4s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: buttonfade;
}
/* line 395, ../sass/index.scss */
.previewImage_container.anim2:hover .copy.availability {
  -webkit-animation-duration: .2s;
  -webkit-animation-delay: .4s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: availabilityslide;
}
/* line 402, ../sass/index.scss */
.previewImage_container.anim2:hover .copy.date {
  -webkit-animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: dateslide;
}
/* line 408, ../sass/index.scss */
.previewImage_container.anim2:hover .copy.title {
  -webkit-animation-duration: .2s;
  -webkit-animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: titleslide;
}
/* line 416, ../sass/index.scss */
.previewImage_container.anim2:hover .modal {
  opacity: 1;
}

@-webkit-keyframes availabilityslide {
  from {
    opacity: 0;
    top: 43.5%;
  }
  to {
    opacity: 1;
    top: 46.5%;
  }
}
@-webkit-keyframes buttonfade {
  from {
    opacity: 0;
  }
  to {
    bottom: 40%;
    opacity: 1;
  }
}
@-webkit-keyframes dateslide {
  from {
    opacity: 0;
    top: 34%;
  }
  to {
    opacity: 1;
    top: 37%;
  }
}
@-webkit-keyframes titleslide {
  from {
    opacity: 0;
    top: 37%;
  }
  to {
    opacity: 1;
    top: 41.5%;
  }
}
/**
 * We Are The Posters Section
 */
/* line 474, ../sass/index.scss */
#we-are-the-posters .we-are-the-posters-header {
  margin: 0 auto;
  width: 663px;
}

/* line 480, ../sass/index.scss */
#we-are-the-posters-video {
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  padding-bottom: 50px;
  padding-top: 95px;
}
/* line 487, ../sass/index.scss */
#we-are-the-posters-video .video-container {
  background: white;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  top: -75px;
  width: 580px;
}
/* line 495, ../sass/index.scss */
#we-are-the-posters-video .video-container .about-image {
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #000;
  height: 340px;
  padding: 20px 20px 20px 265px;
  width: 580px;
}
/* line 504, ../sass/index.scss */
#we-are-the-posters-video .video-container .about-image p {
  font-size: 12pt;
  line-height: 19pt;
  margin: 6px 30px 20px 10px;
  text-align: justify;
}
/* line 510, ../sass/index.scss */
#we-are-the-posters-video .video-container .about-image p.text2 {
  line-height: 1.2em;
  margin: 0 -10px;
}
/* line 515, ../sass/index.scss */
#we-are-the-posters-video .video-container .about-image p:last-child {
  text-align: center;
}
/* line 519, ../sass/index.scss */
#we-are-the-posters-video .video-container .about-image p strong {
  color: #000;
}
/* line 525, ../sass/index.scss */
#we-are-the-posters-video .video-container iframe {
  margin: 0;
  border: 0;
  display: block;
}
/* line 531, ../sass/index.scss */
#we-are-the-posters-video .video-container img {
  width: 100%;
}
/* line 536, ../sass/index.scss */
#we-are-the-posters-video .small-social {
  margin: 0 auto;
  position: relative;
  right: -3px;
  text-align: right;
  top: -80px;
  width: 580px;
}
/* line 544, ../sass/index.scss */
#we-are-the-posters-video .small-social a {
  margin: 0 3px;
}
/* line 548, ../sass/index.scss */
#we-are-the-posters-video .small-social h2 {
  display: none;
}
/* line 552, ../sass/index.scss */
#we-are-the-posters-video .small-social .pinterest {
  display: none;
}

/**
 * Mission Section with Countdown
 */
/* line 562, ../sass/index.scss */
#mission-section {
  text-align: center;
  padding: 75px 0;
  margin-bottom: 60px;
}
/* line 567, ../sass/index.scss */
#mission-section h2 {
  color: #999999;
  font-size: 1.8em;
  margin: 0;
  text-transform: uppercase;
}
/* line 573, ../sass/index.scss */
#mission-section h2.mission-footer {
  font-size: 1.47em;
  margin-top: 5px;
}
/* line 579, ../sass/index.scss */
#mission-section h3 {
  color: #fff;
  font-size: 2.75em;
  margin: -3px 0 -2px;
  text-transform: uppercase;
}
/* line 586, ../sass/index.scss */
#mission-section hr {
  border-color: #888;
  min-width: 440px;
  width: 33%;
}
/* line 591, ../sass/index.scss */
#mission-section hr.bottom {
  margin-top: 30px;
}
/* line 596, ../sass/index.scss */
#mission-section p {
  margin-bottom: 35px;
  margin-top: 30px;
}
/* line 601, ../sass/index.scss */
#mission-section .btn-default {
  background-color: #535353;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  border: 1px solid #535353;
  outline: 1px solid #535353;
}
/* line 612, ../sass/index.scss */
#mission-section .btn-default:hover {
  border: 1px solid #fff;
}
/* line 617, ../sass/index.scss */
#mission-section.mission-white-bg {
  text-align: center;
  padding: 100px 0 50px 0;
  margin-bottom: 0;
  max-width: 550px;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* line 625, ../sass/index.scss */
#mission-section.mission-white-bg hr, #mission-section.mission-white-bg .btn-default {
  display: none;
}
/* line 629, ../sass/index.scss */
#mission-section.mission-white-bg h2 {
  color: #262626;
}
/* line 633, ../sass/index.scss */
#mission-section.mission-white-bg h3 {
  color: #000;
}

/* line 639, ../sass/index.scss */
.googly {
  background-color: #4b4b4b;
  padding: 50px 0;
  text-align: center;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  margin-bottom: 50px;
}
/* line 647, ../sass/index.scss */
.googly img {
  width: 400px;
  border: 10px solid #fff;
}

/**
 * Press Section
 */
/* line 657, ../sass/index.scss */
#press-section {
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 663, ../sass/index.scss */
#press-section a, #press-section a * {
  text-decoration: none;
}
/* line 667, ../sass/index.scss */
#press-section ul {
  list-style: none;
  margin: 145px 0 0 0;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  /* line 667, ../sass/index.scss */
  #press-section ul {
    margin: 375px 0 0 0;
  }
}
/* line 678, ../sass/index.scss */
#press-section ul li {
  overflow: hidden;
  display: inline-block;
  width: 200px;
  min-height: 290px;
  margin-bottom: 20px;
  margin-right: 25px;
}
/* line 687, ../sass/index.scss */
#press-section ul li:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 692, ../sass/index.scss */
#press-section ul li:hover p {
  color: black;
}
/* line 697, ../sass/index.scss */
#press-section ul li:nth-child(2) {
  margin-left: 683px;
  margin-right: 0;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  /* line 704, ../sass/index.scss */
  #press-section ul li:nth-child(2) {
    margin-left: 0;
    margin-right: 28px;
  }
}
/* line 710, ../sass/index.scss */
#press-section ul li p {
  color: #999;
  display: block;
  font-size: 0.7em;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: color .2s;
  transition: color .2s;
}
/* line 724, ../sass/index.scss */
#press-section ul li img {
  width: 100%;
  border: 10px solid #fff;
  margin-bottom: 10px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/**
 * Collection page
 */
/* line 8, ../sass/product.scss */
#active-products .new-line {
  display: block;
  clear: both;
}

/* line 14, ../sass/product.scss */
.archive-border {
  width: 100%;
  height: 73px;
}

/* line 20, ../sass/product.scss */
#active-products .poster-clips, #archived-products .poster-clips {
  display: none;
}

/* line 25, ../sass/product.scss */
#archived-products {
  background-color: #eeeeef;
  padding-bottom: 70px;
}
/* line 29, ../sass/product.scss */
#archived-products h1.section-header {
  margin-bottom: 48px;
  width: 100%;
  white-space: normal;
}
/* line 38, ../sass/product.scss */
#archived-products h1.section-header a {
  color: inherit;
  -webkit-transition: color .2s;
  transition: color .2s;
}
/* line 43, ../sass/product.scss */
#archived-products h1.section-header a:hover {
  color: black;
}
/* line 49, ../sass/product.scss */
#archived-products .archive-section-header {
  text-align: center;
  color: #fff;
  font-size: 3em;
  width: 255px;
  height: 372px;
  padding-top: 100px;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 60, ../sass/product.scss */
#archived-products .archive-section-header img {
  vertical-align: inherit;
}
/* line 65, ../sass/product.scss */
#archived-products > .container {
  padding-top: 40px;
}
/* line 69, ../sass/product.scss */
#archived-products .product {
  position: relative;
  top: -11px;
}
/* line 75, ../sass/product.scss */
#archived-products .row.products {
  margin-bottom: 28px;
}

/**
 * Product Thumb View
 */
/* line 85, ../sass/product.scss */
.product {
  display: inline-block;
  float: none;
  letter-spacing: 0.01em;
  width: 287px;
  margin: 20px;
  position: relative;
}
/* line 93, ../sass/product.scss */
.product .poster-clips {
  position: absolute;
  width: 168px;
  height: 25px;
  left: 50%;
  top: -15px;
  margin-left: -84px;
}
/* line 102, ../sass/product.scss */
.product .image {
  height: 287px;
  line-height: 287px;
  text-align: center;
  margin-bottom: 24px;
  width: 287px;
}
/* line 109, ../sass/product.scss */
.product .image a {
  display: block;
}
/* line 113, ../sass/product.scss */
.product .image img {
  max-width: 287px;
  max-height: 287px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 122, ../sass/product.scss */
.product .image img:hover {
  -webkit-transform: scale(1.05);
}
/* line 128, ../sass/product.scss */
.product .details {
  text-align: center;
}
/* line 131, ../sass/product.scss */
.product .details a {
  color: #666;
  font-size: 1.45em;
  text-transform: uppercase;
  display: block;
}
/* line 138, ../sass/product.scss */
.product .details .availability {
  background-color: #fff;
  clear: both;
  color: #666;
  display: inline-block;
  font-size: 0.7em;
  font-weight: normal;
  letter-spacing: -0.01em;
  line-height: 1.3em;
  margin-top: 10px;
  padding: 1px 4px 0 4px;
  position: relative;
  text-transform: uppercase;
  top: -8px;
}
/* line 153, ../sass/product.scss */
.product .details .availability .days-remaining {
  color: #f00;
}
/* line 161, ../sass/product.scss */
.product:hover .details a {
  color: #000;
}

/* line 169, ../sass/product.scss */
#active-products .for-sale-collection {
  text-align: center;
}
/* line 177, ../sass/product.scss */
#active-products .for-sale-header {
  margin: 0 auto;
  width: 463px;
}

/**
 * Product Detail Page
 */
/* line 186, ../sass/product.scss */
#zoom-image {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  text-align: center;
  background-size: 120%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 203, ../sass/product.scss */
#product #product-images #featured-image {
  text-align: center;
}
/* line 206, ../sass/product.scss */
#product #product-images #featured-image img {
  width: 100%;
}
/* line 211, ../sass/product.scss */
#product #product-images #thumbs {
  clear: both;
}
/* line 214, ../sass/product.scss */
#product #product-images #thumbs .image {
  border: 10px solid #fff;
  width: 200px;
  height: 200px;
  overflow: hidden;
  float: right;
  margin: 26px 0 0 26px;
}
/* line 222, ../sass/product.scss */
#product #product-images #thumbs .image:last-child {
  margin: 26px 0 0 0;
}
/* line 226, ../sass/product.scss */
#product #product-images #thumbs .image img {
  min-width: 200px;
  min-height: 200px;
}
/* line 233, ../sass/product.scss */
#product #product-images .social {
  clear: both;
}
/* line 236, ../sass/product.scss */
#product #product-images .social .social-share {
  margin: 0 6px 0 0;
}
/* line 243, ../sass/product.scss */
#product #details hr {
  border-top: 1px solid #AFAEAF;
}
/* line 248, ../sass/product.scss */
#product #details h1.title {
  color: #999;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 0 5px;
  text-transform: uppercase;
}
/* line 256, ../sass/product.scss */
#product #details #artist {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 5px;
  text-transform: uppercase;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
/* line 265, ../sass/product.scss */
#product #details #availability {
  background-color: #fff;
  clear: both;
  color: #666666;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 700;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 18px;
  line-height: 19px;
  letter-spacing: -0.3px;
  padding: 0 4px;
  text-transform: uppercase;
}
/* line 280, ../sass/product.scss */
#product #details #availability .days-remaining {
  color: #f00;
  position: relative;
  top: 0;
}
/* line 287, ../sass/product.scss */
#product #details .description {
  font-size: 13pt;
  line-height: 22pt;
  margin: 40px 0;
}
/* line 294, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper {
  width: 40%;
  float: left;
}
/* line 298, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper input {
  text-align: center;
  width: 34px;
}
/* line 302, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper input:focus {
  color: #000;
}
/* line 307, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper label {
  color: #666;
  font-size: 14pt;
  left: 4px;
  position: relative;
  top: -2px;
}
/* line 316, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info {
  float: right;
  text-align: right;
  width: 60%;
}
/* line 321, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #price {
  display: inline-block;
  font-size: 22pt;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 22pt;
  margin-right: 15px;
}
/* line 330, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #add-to-cart {
  display: inline-block;
  background-color: #f00;
  border-color: #f00;
  text-transform: uppercase;
  width: 150px;
}
/* line 337, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #add-to-cart:hover {
  border-color: #fff;
}

/* line 346, ../sass/product.scss */
#about-the-artist {
  background-color: #eeeeef;
  padding-top: 120px;
  position: relative;
}
/* line 351, ../sass/product.scss */
#about-the-artist h1 {
  margin-bottom: 120px;
}
/* line 355, ../sass/product.scss */
#about-the-artist .people-are-talking-icon {
  width: 186px;
  height: 55px;
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -93px;
  z-index: 100;
}
/* line 365, ../sass/product.scss */
#about-the-artist .cambird {
  width: 82px;
  height: 109px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 374, ../sass/product.scss */
.people-are-talking {
  padding-top: 40px;
  padding-bottom: 120px;
  text-align: center;
}
/* line 379, ../sass/product.scss */
.people-are-talking p {
  margin: 0 0 5px;
}

/**
 * Artist Listing Page
 */
/* line 5, ../sass/artist.scss */
.artist-list {
  width: 939px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
/* line 12, ../sass/artist.scss */
.artist-list li:nth-child(3n+1) {
  float: left;
  margin-left: 0;
}
/* line 17, ../sass/artist.scss */
.artist-list li:nth-child(3n+1)#join-posters a {
  left: 0;
  top: 0;
}
/* line 24, ../sass/artist.scss */
.artist-list li:nth-child(3n+3) {
  margin-right: 0;
}
/* line 28, ../sass/artist.scss */
.artist-list li a {
  -webkit-transition: all .2s;
}
/* line 41, ../sass/artist.scss */
.artist-list .artist {
  background-position: center center;
  background-size: cover;
  border: 9px solid #fff;
  float: left;
  font-size: 2em;
  height: 273px;
  line-height: 266px;
  margin: 0 60px 60px 0;
  overflow: hidden;
  text-align: center;
  width: 273px;
  transition: all 0.2s ease-in-out;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 60, ../sass/artist.scss */
.artist-list .artist a {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  display: table;
  font-size: 0.8em;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}
/* line 69, ../sass/artist.scss */
.artist-list .artist a span {
  line-height: 35px;
  display: table-cell;
  height: 266px;
  vertical-align: middle;
}
/* line 77, ../sass/artist.scss */
.artist-list .artist:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 84, ../sass/artist.scss */
.artist-list .artist:hover a {
  background-color: rgba(255, 255, 255, 0.65);
}
/* line 91, ../sass/artist.scss */
.artist-list #join-posters a {
  float: left;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
}

/**
 * Artist Profile
 */
/* line 106, ../sass/artist.scss */
.artist-profile .artist-header {
  background-color: #eeeeef;
  border-bottom: 10px solid #fff;
  border-top: 10px solid #fff;
  height: 400px;
  overflow: hidden;
}
/* line 113, ../sass/artist.scss */
.artist-profile .artist-header .artist-image {
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}
/* line 119, ../sass/artist.scss */
.artist-profile .artist-header .artist-image-wrapper {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%;
}
/* line 127, ../sass/artist.scss */
.artist-profile .artist-header .artist-title {
  float: left;
  height: 100%;
  text-align: center;
  position: relative;
  width: 50%;
}
/* line 134, ../sass/artist.scss */
.artist-profile .artist-header .artist-title h1 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: inline-block;
  margin: 0 auto;
  margin-top: -47px;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
}
/* line 149, ../sass/artist.scss */
.artist-profile .artist-description {
  font-size: .8em;
  line-height: 1.4em;
  margin: 50px 0;
  padding: 15px 0;
}
/* line 156, ../sass/artist.scss */
.artist-profile .artist-products {
  margin-top: 25px;
}
/* line 159, ../sass/artist.scss */
.artist-profile .artist-products:nth-child(4) {
  clear: right;
}
/* line 164, ../sass/artist.scss */
.artist-profile .artist-video {
  clear: both;
  background-color: #eeeeef;
}
/* line 168, ../sass/artist.scss */
.artist-profile .artist-video .artist-video-description {
  padding: 110px 0;
  text-align: right;
  width: 80%;
  float: right;
  font-size: 0.9em;
}
/* line 176, ../sass/artist.scss */
.artist-profile .artist-video .artist-video-content {
  margin: 0 auto;
  padding: 90px 0;
  overflow: hidden;
}
/* line 181, ../sass/artist.scss */
.artist-profile .artist-video .artist-video-content iframe {
  margin: 0 2px 0 15px;
  float: left;
  border: 10px solid #fff;
  outline: 2px solid #000;
  width: 400px;
  height: 240px;
}
/* line 191, ../sass/artist.scss */
.artist-profile .artist-video .social-grid-icons {
  position: relative;
}
/* line 194, ../sass/artist.scss */
.artist-profile .artist-video .social-grid-icons .people-are-talking-icon {
  width: 186px;
  height: 55px;
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -93px;
  z-index: 100;
}
/* line 204, ../sass/artist.scss */
.artist-profile .artist-video .social-grid-icons .cambird {
  width: 82px;
  height: 109px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 214, ../sass/artist.scss */
.artist-profile .social-grid {
  background-color: #eeeeef;
}
/* line 218, ../sass/artist.scss */
.artist-profile .people-are-talking {
  background-color: #eeeeef;
}

/* line 1, ../sass/mission.scss */
.mission-page-heading {
  background-color: #eeeeef;
  padding: 75px 50px 50px 50px;
}
/* line 5, ../sass/mission.scss */
.mission-page-heading h2 {
  width: 442px;
  margin: 0 auto;
  padding: 15px 30px;
  color: #666666;
  font-weight: 700;
  font-size: 2.85em;
  text-transform: uppercase;
  border-top: 1px solid #afaeaf;
  border-bottom: 1px solid #afaeaf;
  text-align: center;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #e6e3e4, 2px 2px 0px #777, 1px 2px 0px #777,2px 1px 0px #777;
}

/* line 21, ../sass/mission.scss */
.mission-page-section {
  clear: both;
  overflow: hidden;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 21, ../sass/mission.scss */
  .mission-page-section {
    height: auto;
  }
}
/* line 31, ../sass/mission.scss */
.mission-page-section:last-child {
  margin-bottom: 50px;
}
/* line 35, ../sass/mission.scss */
.mission-page-section .image {
  float: left;
  width: 55%;
  text-align: right;
  background-color: #fff;
  height: inherit;
}
/* line 42, ../sass/mission.scss */
.mission-page-section .image img {
  max-height: 330px;
}
@media screen and (max-width: 768px) {
  /* line 35, ../sass/mission.scss */
  .mission-page-section .image {
    width: 100%;
    text-align: center;
    float: none;
  }
  /* line 51, ../sass/mission.scss */
  .mission-page-section .image img {
    max-height: none;
    width: 100%;
  }
}
/* line 58, ../sass/mission.scss */
.mission-page-section .info {
  float: left;
  width: 45%;
  background-color: #000;
  color: #fff;
  height: inherit;
}
@media screen and (max-width: 768px) {
  /* line 58, ../sass/mission.scss */
  .mission-page-section .info {
    width: 100%;
    float: none;
  }
}
/* line 72, ../sass/mission.scss */
.mission-page-section .info .info-content {
  max-width: 500px;
  margin: 35px 75px;
}
@media screen and (max-width: 1200px) {
  /* line 72, ../sass/mission.scss */
  .mission-page-section .info .info-content {
    margin: 35px;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  /* line 72, ../sass/mission.scss */
  .mission-page-section .info .info-content {
    padding: 35px;
    margin: 0;
    max-width: 100%;
  }
}
/* line 88, ../sass/mission.scss */
.mission-page-section .info .info-content h2 {
  margin: 0 0 15px;
  padding: 15px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  line-height: 45px;
  text-transform: uppercase;
  font-size: 1em;
}
/* line 97, ../sass/mission.scss */
.mission-page-section .info .info-content h2 span {
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: #000;
  display: inline-block;
  float: left;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
  line-height: 45px;
}
/* line 111, ../sass/mission.scss */
.mission-page-section .info .info-content p {
  margin: 0;
  line-height: 30px;
}
/* line 119, ../sass/mission.scss */
.mission-page-section.section-right .image {
  float: right;
  text-align: left;
}
/* line 124, ../sass/mission.scss */
.mission-page-section.section-right .info {
  float: right;
}
/* line 127, ../sass/mission.scss */
.mission-page-section.section-right .info .info-content {
  float: right;
}

/* line 2, ../sass/help.scss */
.help-tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 8, ../sass/help.scss */
.help-tabs ul li {
  float: left;
}
/* line 11, ../sass/help.scss */
.help-tabs ul li a {
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  margin: 0 8px;
  padding: 5px 10px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #666;
}
/* line 21, ../sass/help.scss */
.help-tabs ul li a.current, .help-tabs ul li a:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

/* line 29, ../sass/help.scss */
.help-section {
  margin-bottom: 40px;
}
/* line 32, ../sass/help.scss */
.help-section img {
  margin: 25px;
  float: right;
}
/* line 37, ../sass/help.scss */
.help-section p {
  color: #666;
  font-size: 0.8em;
  letter-spacing: 0.03em;
  line-height: 1.4em;
}
/* line 44, ../sass/help.scss */
.help-section .section-header {
  margin: 40px 0;
}

/* line 49, ../sass/help.scss */
.help-arrow {
  width: 45px;
  height: 105px;
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 55, ../sass/help.scss */
.help-arrow.arrow-right {
  float: right;
  background-position: -52px -8px;
}
/* line 60, ../sass/help.scss */
.help-arrow.arrow-left {
  background-position: -5px -8px;
}
/* line 65, ../sass/help.scss */
.help-arrow:hover.arrow-right {
  background-position: -52px -128px;
  background-color: white;
}
/* line 70, ../sass/help.scss */
.help-arrow:hover.arrow-left {
  background-position: -5px -128px;
  background-color: white;
}

/* line 1, ../sass/socialgrid.scss */
body {
  margin: 0;
}

/* line 5, ../sass/socialgrid.scss */
.socialGrid_container {
  /* http://www.fontspring.com/fonts/fontsite/franklin-gothic-fs */
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 10px;
  height: 570px;
  position: relative;
}
/* line 12, ../sass/socialgrid.scss */
.socialGrid_container .loading {
  width: 100vw;
  left: 50vw;
  max-width: 1170px;
  margin-left: -585px;
  position: absolute;
  height: inherit;
  line-height: 570px;
  text-align: center;
  font-size: 3em;
}
/* line 24, ../sass/socialgrid.scss */
.socialGrid_container .grid_container {
  background-color: white;
  background-position: center center;
  background-size: cover;
  background-width: 100px;
  cursor: pointer;
  float: left;
  height: 570px;
  position: relative;
  width: 570px;
  box-shadow: 10px 10px 10px -9px rgba(0, 0, 0, 0.3) inset;
}
/* line 36, ../sass/socialgrid.scss */
.socialGrid_container .grid_container h1 {
  color: #666;
  font-size: 19px;
  font-weight: normal;
  opacity: 1;
  position: relative;
  top: 0;
  z-index: 1;
  -webkit-transition: all .2s;
  line-height: 1.25em;
  margin: 15px;
  max-height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 53, ../sass/socialgrid.scss */
.socialGrid_container .grid_container .avatar {
  float: left;
  margin-right: 8px;
  width: 37px;
}
/* line 59, ../sass/socialgrid.scss */
.socialGrid_container .grid_container .blackscreen {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity .3s;
}
/* line 70, ../sass/socialgrid.scss */
.socialGrid_container .grid_container .userInfo_container {
  bottom: 0px;
  color: #666;
  font-size: 1.3em;
  left: 15px;
  line-height: 1.5em;
  opacity: 1;
  position: absolute;
  right: 15px;
  z-index: 1;
  -webkit-transition: opacity .8s;
}
/* line 83, ../sass/socialgrid.scss */
.socialGrid_container .grid_container.hasMedia {
  box-shadow: none;
}
/* line 86, ../sass/socialgrid.scss */
.socialGrid_container .grid_container.hasMedia h1 {
  opacity: 0;
  top: -5px;
}
/* line 91, ../sass/socialgrid.scss */
.socialGrid_container .grid_container.hasMedia .userInfo_container {
  opacity: 0;
}
/* line 98, ../sass/socialgrid.scss */
.socialGrid_container .grid_container:hover h1 {
  color: white;
  opacity: 1;
  top: 0;
}
/* line 104, ../sass/socialgrid.scss */
.socialGrid_container .grid_container:hover .blackscreen {
  opacity: 0.7;
}
/* line 108, ../sass/socialgrid.scss */
.socialGrid_container .grid_container:hover .userInfo_container {
  color: white;
  opacity: 1;
}
/* line 115, ../sass/socialgrid.scss */
.socialGrid_container .grid-1 {
  float: left;
}
/* line 119, ../sass/socialgrid.scss */
.socialGrid_container .grid-2 {
  float: left;
}
/* line 122, ../sass/socialgrid.scss */
.socialGrid_container .grid-2 section {
  clear: left;
  float: left;
  height: 285px;
  width: 285px;
}

/* line 131, ../sass/socialgrid.scss */
.socialGrid_wrapper {
  height: 570px;
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
}
/* line 137, ../sass/socialgrid.scss */
.socialGrid_wrapper .socialGrid_innerShadow {
  width: 100%;
  height: 570px;
  position: absolute;
  -webkit-box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  z-index: 99;
  pointer-events: none;
  border-bottom: 1px solid #cccccc;
}

/* line 3, ../sass/login.scss */
#login-signup {
  padding-bottom: 120px;
}
/* line 6, ../sass/login.scss */
#login-signup .section-header {
  margin: 0 0 40px 25px;
  width: 442px;
}
/* line 11, ../sass/login.scss */
#login-signup .label {
  color: #888;
  display: block;
  font-size: 0.9em;
  letter-spacing: 0em;
  padding: 5px 0 0 0;
  text-align: left;
}
/* line 20, ../sass/login.scss */
#login-signup input {
  border: 1px solid #888;
  margin-bottom: 15px;
  padding: 0 5px;
  width: 100%;
}
/* line 26, ../sass/login.scss */
#login-signup input[type="submit"] {
  width: 150px;
}
/* line 31, ../sass/login.scss */
#login-signup .btn-primary {
  background-color: #000;
  outline: 1px solid #000;
  border: 1px solid #f00;
  text-transform: uppercase;
  float: right;
}
/* line 38, ../sass/login.scss */
#login-signup .btn-primary:hover {
  border: 1px solid #fff;
}

/** TE **/
/* line 46, ../sass/login.scss */
#login .section-header {
  /*margin: 40px 0;*/
  width: 442px;
}

/* line 51, ../sass/login.scss */
#login, #create {
  width: 442px;
}

/* line 55, ../sass/login.scss */
#login-sign-up {
  padding-bottom: 120px;
}

/* line 60, ../sass/login.scss */
a#login-recover {
  color: #999;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13pt;
}

/* line 67, ../sass/login.scss */
a#login-recover:hover {
  color: #666;
}

/* line 71, ../sass/login.scss */
#customer-register {
  padding-bottom: 120px;
}

/* line 75, ../sass/login.scss */
#customer-register .label {
  color: #666;
  display: block;
  font-size: 13pt;
  letter-spacing: 0em;
  padding: 5px 0 0 0;
  text-align: left;
}

/* line 84, ../sass/login.scss */
#customer-register input {
  margin-bottom: 15px;
  padding: 0 5px;
  width: 100%;
}

/* line 90, ../sass/login.scss */
#customer-register input[type="submit"] {
  width: 150px;
}

/* line 3, ../sass/press.scss */
#press-blog {
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 40px;
  overflow: hidden;
  text-align: center;
}
/* line 10, ../sass/press.scss */
#press-blog ul {
  list-style: none;
  margin: 40px 0;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  /* line 10, ../sass/press.scss */
  #press-blog ul {
    width: 556px;
    margin: 40px auto;
  }
}
@media screen and (max-width: 700px) {
  /* line 10, ../sass/press.scss */
  #press-blog ul {
    width: 290px;
    margin: 40px auto;
  }
}
/* line 25, ../sass/press.scss */
#press-blog ul li {
  float: left;
  margin-bottom: 20px;
  margin-right: 28px;
  min-height: 370px;
  width: 250px;
}
/* line 32, ../sass/press.scss */
#press-blog ul li.satimage {
  margin-top: -110px;
  width: 530px;
}
/* line 36, ../sass/press.scss */
#press-blog ul li.satimage img {
  border: 0;
}
/* line 41, ../sass/press.scss */
#press-blog ul li p {
  color: #666666;
  display: block;
  font-size: 0.85em;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 50, ../sass/press.scss */
#press-blog ul li img {
  border: 10px solid #fff;
  margin-bottom: 5px;
  width: 100%;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 62, ../sass/press.scss */
#press-blog ul li:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 67, ../sass/press.scss */
#press-blog ul li:hover p {
  color: black;
}
/* line 74, ../sass/press.scss */
#press-blog .press-inquiries {
  color: #999;
  float: right;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  display: none;
}
/* line 86, ../sass/press.scss */
#press-blog .press-inquiries a {
  color: #999;
}
