/**
 * Collection page
 */
/* line 8, ../sass/product.scss */
#active-products .new-line {
  display: block;
  clear: both;
}

/* line 14, ../sass/product.scss */
.archive-border {
  width: 100%;
  height: 73px;
}

/* line 20, ../sass/product.scss */
#active-products .poster-clips, #archived-products .poster-clips {
  display: none;
}

/* line 25, ../sass/product.scss */
#archived-products {
  background-color: #eeeeef;
  padding-bottom: 70px;
}
/* line 29, ../sass/product.scss */
#archived-products h1.section-header {
  margin-bottom: 48px;
  width: 100%;
  white-space: normal;
}
/* line 38, ../sass/product.scss */
#archived-products h1.section-header a {
  color: inherit;
  -webkit-transition: color .2s;
  transition: color .2s;
}
/* line 43, ../sass/product.scss */
#archived-products h1.section-header a:hover {
  color: black;
}
/* line 49, ../sass/product.scss */
#archived-products .archive-section-header {
  text-align: center;
  color: #fff;
  font-size: 3em;
  width: 255px;
  height: 372px;
  padding-top: 100px;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 60, ../sass/product.scss */
#archived-products .archive-section-header img {
  vertical-align: inherit;
}
/* line 65, ../sass/product.scss */
#archived-products > .container {
  padding-top: 40px;
}
/* line 69, ../sass/product.scss */
#archived-products .product {
  position: relative;
  top: -11px;
}
/* line 75, ../sass/product.scss */
#archived-products .row.products {
  margin-bottom: 28px;
}

/**
 * Product Thumb View
 */
/* line 85, ../sass/product.scss */
.product {
  display: inline-block;
  float: none;
  letter-spacing: 0.01em;
  width: 287px;
  margin: 20px;
  position: relative;
}
/* line 93, ../sass/product.scss */
.product .poster-clips {
  position: absolute;
  width: 168px;
  height: 25px;
  left: 50%;
  top: -15px;
  margin-left: -84px;
}
/* line 102, ../sass/product.scss */
.product .image {
  height: 287px;
  line-height: 287px;
  text-align: center;
  margin-bottom: 24px;
  width: 287px;
}
/* line 109, ../sass/product.scss */
.product .image a {
  display: block;
}
/* line 113, ../sass/product.scss */
.product .image img {
  max-width: 287px;
  max-height: 287px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 122, ../sass/product.scss */
.product .image img:hover {
  -webkit-transform: scale(1.05);
}
/* line 128, ../sass/product.scss */
.product .details {
  text-align: center;
}
/* line 131, ../sass/product.scss */
.product .details a {
  color: #666;
  font-size: 1.45em;
  text-transform: uppercase;
  display: block;
}
/* line 138, ../sass/product.scss */
.product .details .availability {
  background-color: #fff;
  clear: both;
  color: #666;
  display: inline-block;
  font-size: 0.7em;
  font-weight: normal;
  letter-spacing: -0.01em;
  line-height: 1.3em;
  margin-top: 10px;
  padding: 1px 4px 0 4px;
  position: relative;
  text-transform: uppercase;
  top: -8px;
}
/* line 153, ../sass/product.scss */
.product .details .availability .days-remaining {
  color: #f00;
}
/* line 161, ../sass/product.scss */
.product:hover .details a {
  color: #000;
}

/* line 169, ../sass/product.scss */
#active-products .for-sale-collection {
  text-align: center;
}
/* line 177, ../sass/product.scss */
#active-products .for-sale-header {
  margin: 0 auto;
  width: 463px;
}

/**
 * Product Detail Page
 */
/* line 186, ../sass/product.scss */
#zoom-image {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  text-align: center;
  background-size: 120%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 203, ../sass/product.scss */
#product #product-images #featured-image {
  text-align: center;
}
/* line 206, ../sass/product.scss */
#product #product-images #featured-image img {
  width: 100%;
}
/* line 211, ../sass/product.scss */
#product #product-images #thumbs {
  clear: both;
}
/* line 214, ../sass/product.scss */
#product #product-images #thumbs .image {
  border: 10px solid #fff;
  width: 200px;
  height: 200px;
  overflow: hidden;
  float: right;
  margin: 26px 0 0 26px;
}
/* line 222, ../sass/product.scss */
#product #product-images #thumbs .image:last-child {
  margin: 26px 0 0 0;
}
/* line 226, ../sass/product.scss */
#product #product-images #thumbs .image img {
  min-width: 200px;
  min-height: 200px;
}
/* line 233, ../sass/product.scss */
#product #product-images .social {
  clear: both;
}
/* line 236, ../sass/product.scss */
#product #product-images .social .social-share {
  margin: 0 6px 0 0;
}
/* line 243, ../sass/product.scss */
#product #details hr {
  border-top: 1px solid #AFAEAF;
}
/* line 248, ../sass/product.scss */
#product #details h1.title {
  color: #999;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 0 5px;
  text-transform: uppercase;
}
/* line 256, ../sass/product.scss */
#product #details #artist {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 5px;
  text-transform: uppercase;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
/* line 265, ../sass/product.scss */
#product #details #availability {
  background-color: #fff;
  clear: both;
  color: #666666;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 700;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 18px;
  line-height: 19px;
  letter-spacing: -0.3px;
  padding: 0 4px;
  text-transform: uppercase;
}
/* line 280, ../sass/product.scss */
#product #details #availability .days-remaining {
  color: #f00;
  position: relative;
  top: 0;
}
/* line 287, ../sass/product.scss */
#product #details .description {
  font-size: 13pt;
  line-height: 22pt;
  margin: 40px 0;
}
/* line 294, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper {
  width: 40%;
  float: left;
}
/* line 298, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper input {
  text-align: center;
  width: 34px;
}
/* line 302, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper input:focus {
  color: #000;
}
/* line 307, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper label {
  color: #666;
  font-size: 14pt;
  left: 4px;
  position: relative;
  top: -2px;
}
/* line 316, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info {
  float: right;
  text-align: right;
  width: 60%;
}
/* line 321, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #price {
  display: inline-block;
  font-size: 22pt;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 22pt;
  margin-right: 15px;
}
/* line 330, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #add-to-cart {
  display: inline-block;
  background-color: #f00;
  border-color: #f00;
  text-transform: uppercase;
  width: 150px;
}
/* line 337, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #add-to-cart:hover {
  border-color: #fff;
}

/* line 346, ../sass/product.scss */
#about-the-artist {
  background-color: #eeeeef;
  padding-top: 120px;
  position: relative;
}
/* line 351, ../sass/product.scss */
#about-the-artist h1 {
  margin-bottom: 120px;
}
/* line 355, ../sass/product.scss */
#about-the-artist .people-are-talking-icon {
  width: 186px;
  height: 55px;
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -93px;
  z-index: 100;
}
/* line 365, ../sass/product.scss */
#about-the-artist .cambird {
  width: 82px;
  height: 109px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 374, ../sass/product.scss */
.people-are-talking {
  padding-top: 40px;
  padding-bottom: 120px;
  text-align: center;
}
/* line 379, ../sass/product.scss */
.people-are-talking p {
  margin: 0 0 5px;
}
