/**
 * Collection page
 */
/* line 8, ../sass/product.scss */
#active-products .new-line {
  display: block;
  clear: both;
}

/* line 14, ../sass/product.scss */
.archive-border {
  width: 100%;
  height: 73px;
}

/* line 20, ../sass/product.scss */
#active-products .poster-clips, #archived-products .poster-clips {
  display: none;
}

/* line 25, ../sass/product.scss */
#archived-products {
  background-color: #eeeeef;
  padding-bottom: 70px;
}
/* line 29, ../sass/product.scss */
#archived-products h1.section-header {
  margin-bottom: 48px;
  width: 100%;
  white-space: normal;
}
/* line 38, ../sass/product.scss */
#archived-products h1.section-header a {
  color: inherit;
  -webkit-transition: color .2s;
  transition: color .2s;
}
/* line 43, ../sass/product.scss */
#archived-products h1.section-header a:hover {
  color: black;
}
/* line 49, ../sass/product.scss */
#archived-products .archive-section-header {
  text-align: center;
  color: #fff;
  font-size: 3em;
  width: 255px;
  height: 372px;
  padding-top: 100px;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 60, ../sass/product.scss */
#archived-products .archive-section-header img {
  vertical-align: inherit;
}
/* line 65, ../sass/product.scss */
#archived-products > .container {
  padding-top: 40px;
}
/* line 69, ../sass/product.scss */
#archived-products .product {
  position: relative;
  top: -11px;
  display: inline-block;
  width: 287px;
  margin: 0 20px;
}
/* line 78, ../sass/product.scss */
#archived-products .row.products {
  margin-bottom: 28px;
}

/* line 85, ../sass/product.scss */
#archived .col-sm-8 {
  float: none;
  margin: 0 auto;
}

/**
 * Product Thumb View
 */
/* line 95, ../sass/product.scss */
.product {
  float: none;
  letter-spacing: 0.01em;
  position: relative;
}
/* line 100, ../sass/product.scss */
.product .poster-clips {
  position: absolute;
  width: 168px;
  height: 25px;
  left: 50%;
  top: -15px;
  margin-left: -84px;
}
/* line 109, ../sass/product.scss */
.product .image {
  height: auto;
  text-align: center;
  margin-bottom: 24px;
  width: 100%;
  min-height: 287px;
}
/* line 116, ../sass/product.scss */
.product .image a {
  display: block;
}
/* line 120, ../sass/product.scss */
.product .image img {
  height: auto;
  width: 100%;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
/* line 129, ../sass/product.scss */
.product .image img:hover {
  -webkit-transform: scale(1.05);
}
/* line 135, ../sass/product.scss */
.product .details {
  text-align: center;
}
/* line 138, ../sass/product.scss */
.product .details a {
  color: #666;
  display: block;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
/* line 147, ../sass/product.scss */
.product .details a small {
  font-family: 'FranklinGothic-Cd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #999;
}
/* line 155, ../sass/product.scss */
.product .details .availability {
  background-color: #fff;
  clear: both;
  color: #666;
  display: none;
  font-size: 0.7em;
  font-weight: normal;
  letter-spacing: -0.01em;
  line-height: 1.3em;
  margin-top: 10px;
  padding: 1px 4px 0 4px;
  position: relative;
  text-transform: uppercase;
  top: -8px;
}
/* line 170, ../sass/product.scss */
.product .details .availability .days-remaining {
  color: #f00;
}
/* line 178, ../sass/product.scss */
.product:hover .details a {
  color: #000;
}

/* line 186, ../sass/product.scss */
#active-products .for-sale-collection {
  text-align: center;
  float: none;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
}
/* line 198, ../sass/product.scss */
#active-products .for-sale-collection .product {
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 38%;
  margin: 20px 6%;
}
/* line 208, ../sass/product.scss */
#active-products .for-sale-collection .product .image {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 385px;
}
/* line 217, ../sass/product.scss */
#active-products .for-sale-collection .product .details {
  min-height: 106px;
}
/* line 227, ../sass/product.scss */
#active-products .for-sale-header {
  margin: 0 auto;
  width: 463px;
}

/**
 * Product Detail Page
 */
/* line 236, ../sass/product.scss */
#zoom-image {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  text-align: center;
  background-size: 120%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 253, ../sass/product.scss */
#product #product-images #featured-image {
  background-size: contain;
  text-align: center;
  background-repeat: no-repeat;
  width: 100%;
  box-shadow: 0px -1px 14px 0px rgba(50, 50, 50, 0.5);
}
/* line 260, ../sass/product.scss */
#product #product-images #featured-image a {
  display: block;
}
/* line 264, ../sass/product.scss */
#product #product-images #featured-image img {
  width: 100%;
}
/* line 271, ../sass/product.scss */
#product #product-images #thumbs {
  clear: both;
}
/* line 274, ../sass/product.scss */
#product #product-images #thumbs .image {
  border: 10px solid #fff;
  width: 190px;
  height: 190px;
  overflow: hidden;
  float: right;
  margin: 26px 0 0 26px;
}
/* line 282, ../sass/product.scss */
#product #product-images #thumbs .image:last-child {
  margin: 26px 0 0 0;
}
/* line 286, ../sass/product.scss */
#product #product-images #thumbs .image img {
  min-width: 200px;
  min-height: 200px;
}
/* line 293, ../sass/product.scss */
#product #product-images .social {
  clear: both;
}
/* line 296, ../sass/product.scss */
#product #product-images .social .social-share {
  margin: 0 6px 0 0;
}
/* line 303, ../sass/product.scss */
#product #details hr {
  border-top: 1px solid #AFAEAF;
  clear: both;
  margin-bottom: 40px;
}
/* line 309, ../sass/product.scss */
#product #details h1.title {
  color: #999;
  font-family: 'FranklinGothic-Cd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 5px;
  text-transform: uppercase;
}
/* line 319, ../sass/product.scss */
#product #details #artist {
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 5px;
  text-transform: uppercase;
}
/* line 328, ../sass/product.scss */
#product #details #availability {
  background-color: #fff;
  clear: both;
  color: #666666;
  display: none;
  font-size: 0.75em;
  font-weight: 700;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 18px;
  line-height: 19px;
  letter-spacing: -0.3px;
  padding: 0 4px;
  text-transform: uppercase;
}
/* line 343, ../sass/product.scss */
#product #details #availability .days-remaining {
  color: #f00;
  position: relative;
  top: 0;
}
/* line 350, ../sass/product.scss */
#product #details .description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .02em;
  margin: 40px 0;
}
/* line 358, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper {
  width: 40%;
  float: left;
}
/* line 362, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper input {
  text-align: center;
  width: 34px;
}
/* line 366, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper input:focus {
  color: #000;
}
/* line 371, ../sass/product.scss */
#product #details #add-item-form .quantity-wrapper label {
  color: #666;
  font-size: 14pt;
  left: 4px;
  position: relative;
  top: -2px;
}
/* line 380, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info {
  float: right;
  margin-bottom: 30px;
  text-align: right;
  width: 60%;
}
/* line 386, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #price, #product #details #add-item-form .add-to-cart-info #price-field {
  display: inline-block;
  font-size: 22pt;
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 22pt;
  margin-right: 15px;
}
/* line 396, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #add-to-cart {
  display: inline-block;
  background-color: #f00;
  border-color: #f00;
  text-transform: uppercase;
  width: 150px;
}
/* line 403, ../sass/product.scss */
#product #details #add-item-form .add-to-cart-info #add-to-cart:hover {
  border-color: #fff;
}

/* line 412, ../sass/product.scss */
#about-the-artist {
  background-color: #eeeeef;
  padding-top: 120px;
  position: relative;
}
/* line 417, ../sass/product.scss */
#about-the-artist h1 {
  margin-bottom: 120px;
}
/* line 421, ../sass/product.scss */
#about-the-artist .people-are-talking-icon {
  width: 186px;
  height: 55px;
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -93px;
  z-index: 100;
}
/* line 431, ../sass/product.scss */
#about-the-artist .cambird {
  width: 82px;
  height: 109px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 440, ../sass/product.scss */
.people-are-talking {
  padding-top: 40px;
  padding-bottom: 120px;
  text-align: center;
}
/* line 445, ../sass/product.scss */
.people-are-talking p {
  margin: 0 0 5px;
}

/* line 455, ../sass/product.scss */
.frame-options .pop-up {
  background-position: 100px center;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 49%;
}
/* line 463, ../sass/product.scss */
.frame-options .frame-options-select {
  display: inline-block;
  margin-bottom: 30px;
  width: 49%;
}
/* line 468, ../sass/product.scss */
.frame-options .frame-options-select small {
  display: block;
  text-transform: uppercase;
}
/* line 472, ../sass/product.scss */
.frame-options .frame-options-select small span {
  font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
/* line 478, ../sass/product.scss */
.frame-options .frame-options-select .size {
  margin-top: 30px;
}
/* line 480, ../sass/product.scss */
.frame-options .frame-options-select .size span {
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  padding: 0 4px;
  text-transform: none;
}
/* line 488, ../sass/product.scss */
.frame-options .frame-options-select .size span:last-child {
  margin-right: 0;
}
/* line 492, ../sass/product.scss */
.frame-options .frame-options-select .size span.selected {
  border: 1px solid #777;
}
/* line 497, ../sass/product.scss */
.frame-options .frame-options-select .frame-type {
  background: url("../assets/frame-sprite.png") 1px 1px no-repeat transparent;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  height: 39px;
  overflow: hidden;
  text-indent: -9999em;
  width: 39px;
}
/* line 507, ../sass/product.scss */
.frame-options .frame-options-select .frame-type.Black.Gallery {
  background-position: -42px 1px;
}
/* line 510, ../sass/product.scss */
.frame-options .frame-options-select .frame-type.White.Gallery {
  background-position: -128px 1px;
}
/* line 513, ../sass/product.scss */
.frame-options .frame-options-select .frame-type.Black.Floating, .frame-options .frame-options-select .frame-type.Black.Shadowbox {
  background-position: -85px 1px;
}
/* line 516, ../sass/product.scss */
.frame-options .frame-options-select .frame-type.White.Floating, .frame-options .frame-options-select .frame-type.White.Shadowbox {
  background-position: -171px 1px;
}
/* line 519, ../sass/product.scss */
.frame-options .frame-options-select .frame-type.selected {
  border: 2px solid #777;
}
