body {
	margin: 0;
}

.socialGrid_container {
	/* http://www.fontspring.com/fonts/fontsite/franklin-gothic-fs */
	font-family: 'FranklinGothicMdCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 570px;
	position: relative;

	.loading {
		width: 100vw;
		left: 50vw;
		max-width: 1170px;
		margin-left: -585px;
		position: absolute;
		height: inherit;
		line-height: 570px;
		text-align: center;
		font-size: 3em;
	}

	.grid_container {
		background-color: white;
		background-position: center center;
		background-size: cover;
		background-width: 100px;
		cursor: pointer;
		float: left;
		height: 570px;
		position: relative;
		width: 570px;
		box-shadow: 10px 10px 10px -9px rgba(0,0,0,0.3) inset;
		
		h1 {
			color: #666;
			font-size: 19px;
			font-weight: normal;
			opacity: 1;
			position: relative;
			top: 0;
			z-index: 1;
			-webkit-transition: all .2s;
		
			line-height: 1.25em;
			margin: 15px;
			max-height: 6em; // 3 lines
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.avatar {
			float: left;
			margin-right: 8px;
			width: 37px;
		}
		
		.blackscreen {
			background: #000;
			bottom: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			-webkit-transition: opacity .3s;
		}
		
		.userInfo_container {
			bottom: 0px;
			color: #666;
			font-size: 1.3em;
			left: 15px;
			line-height: 1.5em;
			opacity: 1;
			position: absolute;
			right: 15px;
			z-index: 1;
			-webkit-transition: opacity .8s;
		}
		
		&.hasMedia {
			box-shadow: none;
			
			h1 {
				opacity: 0;
				top: -5px;
			}
			
			.userInfo_container {
				opacity: 0;
			}
			
		}
		
		&:hover {
			h1 {
				color: white;
				opacity: 1;
				top: 0;
			}
			
			.blackscreen {
				opacity: 0.7;
			}
			
			.userInfo_container {
				color: white;
				opacity: 1;
			}
		}
	}
	
	.grid-1 {
		float: left;
	}
	
	.grid-2 {
		float: left;
		
		section {
			clear: left;
			float: left;
			height: 285px;
			width: 285px;
		}
	}
}

.socialGrid_wrapper {
	height: 570px;
	overflow: scroll;
	overflow-y: hidden;
	width: 100%;

	.socialGrid_innerShadow {
		width: 100%;
		height: 570px;
		position: absolute;
		-webkit-box-shadow: inset 0px 10px 20px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 10px 20px -10px rgba(0,0,0,0.75);
		box-shadow: inset 0px 10px 20px -10px rgba(0,0,0,0.75);
		z-index: 99;
		pointer-events: none;
		border-bottom: 1px solid #cccccc;
	}
}
