{% if collection.handle != 'fontpage' and collection.handle != 'all' %}
  {% include 'artist-profile' %}
{% else %}
<div id="collection">
  <div id="active-products">
    <div class="container">
      <div class="row products">
        <div class="for-sale-header">
          <h1 class="shadow-header section-header">For Sale Now</h1>
        </div>
        <div class="col-sm-10 for-sale-collection">
          {% for product in collection.products %}
            {% if product.metafields.visibility.expirationdate %}
              {% include 'product-loop' with collection.handle %}
              <!-- {% cycle '', '<span class="new-line"></span>' %} -->
            {% endif %}
          {% endfor %}
        </div>
        <div class="for-sale-header">
          <h2 class="shadow-header section-header black"><a href="http://theposters.co/collections/all">Shop All Posters</a></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="archive-border" style="background-image: url({{ 'archivebordergrey.png' | asset_url }})"></div>
  <section id="archived-products" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="shadow-header-grey section-header">The Archive<small>These posters are no longer available for sale. Every once in a while we may release some from our vault. Follow us on <a href="https://www.facebook.com/ThePosters.co" target="_blank">Facebook</a> and <a href="http://instagram.com/theposters.co">Instagram</a> for more info!</small></h1>
        </div>
      </div>

      <div id="archived-pallet" style="display:none">
        {% for product in collection.products %}
          {% include 'product-loop' with collection.handle %}
        {% endfor %}
      </div>

      <div id="archived">

      </div>
      
    </div>
  </section>
</div>
{% endif %}

<script type="text/javascript">
  $(document).ready(function() {
    var productsArray = [];
    var datesArray = [];
    var products = $('#archived-pallet .product');

    products.each(function(index, productDOM){
      var expirationDate = $(this).data('expdate');
      var expMonthYear = moment(expirationDate, 'YYYY-MM-DD').format('YYYY-MM');
      var dateIndex;
      
      if(datesArray.indexOf(expMonthYear) === -1) {
        datesArray.push(expMonthYear);
      }

      dateIndex = datesArray.indexOf(expMonthYear);

      if(typeof productsArray[dateIndex] !== 'object') {
        productsArray[dateIndex] = [];
      }

      productsArray[dateIndex].push($(this));
    });

    for(var i=0; i<datesArray.length; i++) {
      if(moment().isAfter(moment(datesArray[i], 'YYYY-MM'))) {
        var row = $('<div class="row products"><div class="col-sm-9"></div></div>');

        for(var j=0; j<productsArray[i].length; j++) {
          if(moment().isAfter(moment(productsArray[i][j].data('expdate'), 'YYYY-MM-DD'))) {
            row.find('.col-sm-9').append(productsArray[i][j]);
          }
        }

        $('#archived').append(row);
      }
    }

    $('#archived-products .availability').hide();
    // $('#archived-pallet').remove();
    if($('#archived .products').length <= 0) {
      $('#archived-products').hide();
    }
  });
</script>