{% if fundedhours == 'whitebg' %}
	<div id="mission-section" class="mission-white-bg" style="background-image: url({{ 'fundedcount_bg.jpg' | asset_url }})">
{% else %}
	<div id="mission-section" style="background-image: url({{ 'missionbg.png' | asset_url }})">
{% endif %}

    <hr class="top" />
    <h2 class="mission-footer">Every 3 posters sold pays for </h2>
    <h3 class="{% if fundedhours == 'whitebg' %}shadow-header{% else %}shadow-header-inverted{% endif %}">1 Hour</h3>
    <h2 class="mission-footer">Of Art Classes for kids</h2>
    <p><a href="/pages/mission" class="btn btn-default">Learn More About Our Mission</a></p>
    <hr class="bottom" />
</div>


