<div class="pop-up-window">
  <div class="container">
    <div class="pop-up-content">
        <div class="row">
          <div class="col-sm-12">
            <mark class="close"></mark>
            <header>
              <h2 class="shadow-header section-header">{{pages.our-frames.title}}</h2>
            </header>
          </div>
        </div>
        <div class="row descriptions">
          {{pages.our-frames.content}}
        </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  // toggle pop-up
  $(document).ready(function(){
    
    $('.pop-up').on('click', function(){
      $('.pop-up-window').addClass('open');
    });

    $('.pop-up-window .close').on('click', function(){
      $('.pop-up-window').removeClass('open');
    });

  });

</script>