<div class="pop-up-window">
  <div class="container">
    <div class="pop-up-content">
        <div class="row">
          <div class="col-sm-12">
            <mark class="close"></mark>
            <header>
              <h2 class="shadow-header section-header">Our Frames<span>We put as much care into selecting our frames as we do our posters.<br />
        We do lots of stuff to keep prices lowand quality high, yada yada yada.</span></h2>
            </header>
          </div>
        </div>
        <div class="row descriptions">
          <div class="col-sm-6">
            <h2>Frame Styles in Black or White</h2>
            <p>Gallery Frame full bleed means framing to the edge of your print.<br /><br />
Floating Frame with a spacer is a method of framing to keep the art fully visible in the frame, edges and all. This gives the illusion the piece is floating within the frame either on a mat or on a foam core lift. A spacer is added to the frame to keep the artwork from touching the plexiglass. When floating, we add 1.5” all around for all art sizes.</p>
            <h2>Why we use Plexi</h2>
            <p>We use UV-filtering plexiglass for all frames. Why? Because that is the best option and has become the industry standard. Chances are you will be moving and plexiglass is lighter, scratch-resistant & shatter-resistant. It also provides more UV protection and less-glare than glass. While a bit more expensive than glass, the quality and protection plexiglass offers is so good, most art sellers and galleries are using it and so should you. Our standard UV plexi filters ~ 85-89% of UV and 92% of light.</p>
          </div>
          <div class="col-sm-6">
            <h2>What we are made of</h2>
            <p>Our frames are the highest quality, produced by manufacturers here in the U.S.A. Our frames are made from woods like maple, walnut and oak. The mats we use are completely archival: 4-ply, acid free and contain a white core.</p>
            <h2>When you should expect delivery</h2>
            <p>Once you place the order we aim to ship completed custom frames in 5 to 7 business days. We send the finished frame by FedEx Ground Delivery. It takes about 2 weeks to create your new frame and deliver it to your door to be hung and enjoyed. Prices include all shipping within the contiguous US.</p>
          </div>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  // toggle pop-up
  $(document).ready(function(){
    
    $('.pop-up').on('click', function(){
      $('.pop-up-window').addClass('open');
    });

    $('.pop-up-window .close').on('click', function(){
      $('.pop-up-window').removeClass('open');
    });

  });

</script>