<div class="pop-up-window">
  <div class="container">
    <div class="pop-up-content">
        <div class="row">
          <div class="col-sm-12">
            <mark class="close"></mark>
            <header>
              <h2 class="shadow-header section-header">Our Frames<span>We put as much care into selecting our frames as we do our posters.<br />
        We do lots of stuff to keep prices lowand quality high, yada yada yada.</span></h2>
            </header>
          </div>
        </div>
        <div class="row descriptions">
          <div class="col-sm-6">
            <h2>Why we use Plexi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
            <h2>Real Wood</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
          </div>
          <div class="col-sm-6">
            <h2>Our Mats</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
            <h2>Something Else</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
          </div>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  // toggle pop-up
  $(document).ready(function(){
    
    $('.pop-up').on('click', function(){
      $('.pop-up-window').addClass('open');
    });

    $('.pop-up-window .close').on('click', function(){
      $('.pop-up-window').removeClass('open');
    });

  });

</script>