<div id="we-are-the-posters">
    <div id="we-are-the-posters-video" style="background-image: url({{ 'wearetheposters.png' | asset_url }})">
        <div class="video-container">
            <div class="about-image" style="background-image: url({{ 'homepageintro.jpg' | asset_url }})">
                <p class="text1">{{settings.about_text1}}</p>
                <p class="text2"><strong>{{settings.about_text2}}</strong></p>
            </div>
        </div>
        <div class="small-social">
            <!-- {% include 'share' %} -->
        </div>
    </div>
</div>
